@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 25% 97%; /* #f8f8f5 */
    --foreground: 60 18% 8%; /* #181811 */
    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 60 18% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 60 18% 8%;
    --primary: 58 95% 50%; /* #f9f506 */
    --primary-foreground: 60 18% 8%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 60 14% 95%; /* derived from background */
    --muted-foreground: 60 5% 45%; /* derived from foreground */
    --accent: 58 95% 48%; /* #f2ee05 */
    --accent-foreground: 60 18% 8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 90%; /* #e6e6db */
    --input: 60 20% 90%;
    --ring: 58 95% 50%;
    --radius: 1rem;
  }
  .dark {
    --background: 58 36% 10%; /* #23220f */
    --foreground: 0 0% 98%;
    --card: 58 41% 13%; /* #2c2b14 */
    --card-foreground: 0 0% 98%;
    --popover: 58 36% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 58 95% 50%;
    --primary-foreground: 60 18% 8%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 58 36% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 58 95% 48%;
    --accent-foreground: 60 18% 8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 58 20% 17%; /* #34331d */
    --input: 58 20% 17%;
    --ring: 58 95% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
